<div class="left">
    <ul>
        <% if(isAdmin){ %>
        <li><a href="/user_manager.html">用户管理</a></li>
        <% }%>
        <li class="mobile"><a href="/user_mobile.html">手机管理</a></li>
        <li><a href="">图片管理</a></li>
    </ul>
</div>