<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/myerror.css">
</head>
<body>
    <h2><span><%= code%></span> :<%= msg%></h2>
</body>
</html>