<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/user_logo.css">
</head>

<body>
    <div class="container index">
        <%- include('./pub/header.ejs',{ nickname : nickname,isAdmin:isAdmin}) %>
        <div class="footer">
            <%- include('./pub/left.ejs' ) %>
            <div class="main">
                <button id="btn">新增LOGO</button>
                <form action='javescript:;' enctype="multipart/form-data" class="addLogo">
                    <div>
                        <label>手机品牌</label><select name="iphoneBrand" id="iphoneBrand">
                            <option value="iphone">iphone</option>
                            <option value="huawei">huawei</option>
                            <option value="MI">MI</option>
                            <option value="vivo">vivo</option>
                            <option value="三星">三星</option>
                            <option value="htc">htc</option>
                            <option value="meizu">meizu</option>
                        </select>
                    </div>
                    <div>
                        <label>手机LOGO</label><input type="file" id="iphoneImg">
                    </div>
                    <div>
                        <input type="submit" class="add" value="确认新增">
                        <input type="button" class="cancle" value="取消">
                    </div>
                </form>

                <table border="1">
                    <thead>
                        <tr>
                            <td>序号</td>
                            <td style="display:none">ID</td>
                            <td>手机品牌</td>
                            <td>LOGO</td>
                            <td>操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>11</td>
                        </tr>
                    </tbody>
                </table>
                <ul id="uli">

                </ul>
                <form action='javescript:;' enctype="multipart/form-data" class="updataIphone">
                    <div>
                        <label style="display:none;">ID</label><input type="text" name="" id="ID" readonly style="display:none;">

                    </div>
                    <div>
                        <label>手机品牌</label><select name="" id="phoneBrand">
                            <option value="iphone">iphone</option>
                            <option value="huawei">huawei</option>
                            <option value="MI">MI</option>
                            <option value="vivo">vivo</option>
                            <option value="三星">三星</option>
                            <option value="htc">htc</option>
                            <option value="meizu">meizu</option>
                        </select>
                    </div>
                    <div>
                            <label>手机LOGO</label><input type="file" id="phoneImg">
                        </div>
                    <div>
                        <input type="submit" class="updataok" value="确认修改">
                        <input type="button" class="cancleok" value="取消">
                    </div>
                </form>
            </div>
        </div>

    </div>
</body>

</html>
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/js/user_logo.js"></script>