       body{
            background: url(../images/pi.jpg) no-repeat ;
 
       }
       .row{
           margin-top: 50px;
        /* background: url(../images/pc.jpg) no-repeat 233px 0; */
                       
       }
       .row h1{
             /* border-bottom: 1px solid #FDFDFD; */
             font-size: 30px;
             margin-bottom: 15px;
             margin-top: 15px;
            color: #d2d5ed;
            text-align: center;
          }
          form{
               color: #d2d5ed;
          }
          .row h2{
             font-size: 24px;       
          }
        
          .btn-lg{
              width:100%;                 
          }
          .control-label{
              width:32%;
             text-align: center;
          }
         
          .form-horizontal .form-group{
              margin-bottom:30px;
              position: relative;
          }
           .row .userinfo{
              margin-left: 124px;
              /* display: none; */
              position: absolute;
              left: 15px;
              top: 40px;
              color: red;
              display: none;
          }
      