.main{
    padding-left: 30px;
}
.main form{
    margin-top: 30px;
}
.main form .search{
    height: 30px;
    width: 250px;
}
.main form .btn{
    height: 32px;
    width: 50px;
}
.main table{
    width:900px;
    border: 1px solid #999999;
    margin-top: 30px;
    
}
.main table thead tr,table tbody tr{
    height: 50px;
    line-height: 50px;
    text-align: center;
   
}

table tbody tr a:last-child{
    margin-left: 20px;
}
.footer .left ul li:first-child a{
    color: red;
    font-weight: bolder;
}
.main{
    position: relative;
}
.main ul{
    overflow: hidden;
}
.main ul li{
    float: left;
    width: 40px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #999999; 
}
/* .main ul li:first-child{
    background: red;
    color: white;
} */
.active{
    background: red;
}
.updatamsg{
    width: 300px;
    border: 1px solid #999999;
    position: absolute;
    top: 100px;
    right: 200px;
    background: white;
    padding-left: 10px;
    padding-top: 20px;
    display: none;
}
.updatamsg div{
    margin-bottom: 10px;
}
.updatamsg input{
    height: 30px;
}
.updatamsg label{
    width: 60px;
    display: inline-block;
}


}